@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

nav .navbar {
  justify-content: space-around;
  padding: 15px;
}

nav {
  background-color: transparent;
}

nav .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #00c2cb;
}

nav .nav-link {
  font-size: 1.5rem;
  color: #fff;
}

nav .navbar-collapse {
  flex-grow: 0;
}

header {
  height: 99vh;
  background-image: url("../images/banner.jpg");
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .col-md-6 .banner-text p {
  text-align: start;
}

.banner .row .col-md-6 {
  height: 70vh;
}

.banner .row .col-md-6 h1,
h2,
p {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

.banner .row .col-md-6 span {
  font-size: 3rem;
  color: #00c2cb;
}

.banner .row .col-md-6 .banner-btn .explore-btn {
  color: #000;
  text-align: center;
  background-color: #00c2cb;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}

.banner .row .col-md-6 .banner-btn .banner-icon a,
i {
  font-size: 40px;
  color: #fff;
  padding: 0px 4px;
}

.about-me {
  height: 100vh;
}

.about-me {
  background-color: #020912;
}

.about-me img {
  border-radius: 100%;
  max-width: 230px;
}

.about-me .about-text .text {
  font-size: 2.5rem;
  color: #fff;
}
#portfolio {
  height: 100vh;
  background-color: #020912;
}

#portfolio .project {
  padding-top: 100px;
}

.project .card-body {
  background-color: #020912 !important;
  border-bottom: 1px #fff solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.portfolio a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.resume {
  background-color: #020912;
}

.resume .col-md-4 {
  height: 450px;
}

.resume h4,
p {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
}

.resume h4 {
  margin-bottom: 20px;
}

.resume .img-center .resume-img {
  max-height: 250px;
  box-shadow: -10px -10px 0px 3px rgba(87, 84, 84, 0.91);
  -webkit-box-shadow: -10px -10px 0px 3px rgba(87, 84, 84, 0.91);
  -moz-box-shadow: -10px -10px 0px 3px rgba(87, 84, 84, 0.91);
  justify-content: center;
}

.resume .img-center {
  text-align: center;
}

.contact h3 {
  color: #fff;
}
.contact i,
span {
  color: #fff;
  font-size: 2rem;
}

.contact .info {
  margin-bottom: 20px;
  margin-left: 15px;
}

.h2title {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 20px;
  padding-top: 20px;
  font-weight: bolder;
}

footer {
  height: 75vh;
  background-color: #020912;
}

footer .inquery {
  background-color: #494f56 !important;
  height: 56vh;
}
@media only screen and (max-width: 777px) {
  body {
    background-color: #020912;
  }
  .about-me,
  .resume,
  .portfolio,
  .contact,
  .banner {
    height: 100% !important;
    margin-bottom: 50px;
  }

  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  header {
    display: flex;
    justify-content: center;
  }

  header .col-md-6 .banner-text p {
    text-align: center;
  }

  header .col-md-6 {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .banner-info {
    margin-bottom: 20px;
  }

  .banner .banner-icon i {
    color: #fff;
    font-size: 2rem;
    margin: 0px 10px;
  }

  .banner .banner-text .banner-info h1 {
    font-size: 30px;
  }

  .banner .banner-text .banner-info span {
    font-size: 40px;
  }

  .banner .banner-text .banner-info p {
    font-size: 20px;
  }

  .banner .banner-img img {
    border-radius: 100%;
    max-width: 240px;
  }

  .about-me .skill .circle-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me .about-text .text {
    font-size: 1rem;
  }

  .contact h3 {
    color: #fff;
    margin: 0px 0px;
    margin-bottom: 10px;
    text-align: center;
  }

  .contact .info {
    padding-left: 20px;
  }

  .contact i,
  span {
    color: #fff;
    font-size: 1rem;
  }

  .contact .info {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
